<table class="<%= table_css_classes %>" data-table="inline">
  <thead>
    <tr>
      <th class="ca" width="5%"><%= _('Power') %></th>
      <th width="25%"><%= _('Name') %></th>
      <th><%= _('Last Boot Time') %></th>
      <th><%= _('State Changed On') %></th>
    </tr>
  </thead>
  <tbody>
    <% @vms.each do |vm| %>
      <tr>
        <td class="ca">
            <span title="<%= vm.power_state %>" class="fa fa-power-off host-power-status <%= vm.power_state %>"></span>
        </td>
        <td class="ellipsis"><%= link_to vm.name, "/foreman_providers/infra/vms/#{vm.id}" %></td>
        <td><%= vm.boot_time %></td>
        <td><%= vm.state_changed_on %></td>
      </tr>
    <% end %>
  </tbody>
</table>
